* {
    font-family: 'monospace';
}

header, #nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

#nav-buttons {
    margin: 2rem;
}

.blog-posts {
    background-color: grey;
}

.post-info, .post-user-date {
    display: flex;
    flex-direction: row;
}

.post-info {
    justify-content: space-between;
}

.post-user-date {
    justify-content: space-around;
}